html, body{
  width: 100%;
}
@media screen {
  a.external {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(//bits.wikimedia.org/static-1.23wmf16/skins/vector/images/external-link-ltr-icon.png?2014-02-27T16:51:40Z);
    background-image: -webkit-linear-gradient(transparent,transparent),url(//bits.wikimedia.org/static-1.23wmf16/skins/vector/images/external-link-ltr-icon.svg?2014-02-27T16:51:40Z);
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB3aWR0aD0iMTAiCiAgIGhlaWdodD0iMTAiCiAgIGlkPSJzdmcyIj4KICA8bWV0YWRhdGEKICAgICBpZD0ibWV0YWRhdGE3Ij4KICAgIDxyZGY6UkRGPgogICAgICA8Y2M6V29yawogICAgICAgICByZGY6YWJvdXQ9IiI+CiAgICAgICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+CiAgICAgICAgPGRjOnR5cGUKICAgICAgICAgICByZGY6cmVzb3VyY2U9Imh0dHA6Ly9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIiAvPgogICAgICAgIDxkYzp0aXRsZT48L2RjOnRpdGxlPgogICAgICA8L2NjOldvcms+CiAgICA8L3JkZjpSREY+CiAgPC9tZXRhZGF0YT4KICA8ZwogICAgIHRyYW5zZm9ybT0idHJhbnNsYXRlKC04MjYuNDI4NTksLTY5OC43OTA3NykiCiAgICAgaWQ9ImxheWVyMSI+CiAgICA8cmVjdAogICAgICAgd2lkdGg9IjUuOTgyMTQyOSIKICAgICAgIGhlaWdodD0iNS45ODIxNDI5IgogICAgICAgeD0iODI2LjkyODU5IgogICAgICAgeT0iNzAyLjMwODY1IgogICAgICAgaWQ9InJlY3QyOTk2IgogICAgICAgc3R5bGU9ImZpbGw6I2ZmZmZmZjtmaWxsLW9wYWNpdHk6MTtzdHJva2U6IzAwNjZjYztzdHJva2Utd2lkdGg6MXB4O3N0cm9rZS1saW5lY2FwOmJ1dHQ7c3Ryb2tlLWxpbmVqb2luOm1pdGVyO3N0cm9rZS1vcGFjaXR5OjEiIC8+CiAgICA8ZwogICAgICAgdHJhbnNmb3JtPSJtYXRyaXgoMC43MDcxMDY3OCwwLjcwNzEwNjc4LC0wLjcwNzEwNjc4LDAuNzA3MTA2NzgsNzYyLjg3LC0zNTkuODgzMzkpIgogICAgICAgaWQ9Imc0ODE1Ij4KICAgICAgPHBhdGgKICAgICAgICAgZD0ibSA3OTYuOTA4MTksNzAwLjI4MzE3IDMuNzAxMjcsLTMuNzAxMjYgMy44MTE3NCwzLjgxMTc1IC0wLjAxODksMi4yMDMzNiAtMS44NTIzNCwwIDAsMy44NTQzIC0zLjgwMjMzLDAgMCwtMy45NzEwOCAtMS44NTM2LDAgeiIKICAgICAgICAgaWQ9InBhdGg0Nzc3IgogICAgICAgICBzdHlsZT0iZmlsbDojMDA2NmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgogICAgICA8cGF0aAogICAgICAgICBkPSJtIDgwMC42MDk0Niw2OTguMDAyNDQgMy40Njk4NiwzLjQzODY1IC0yLjU3MDIsMCAwLDQuMDc0MzYgLTEuNzM2MiwwIDAsLTQuMDc0MzYgLTIuNjE3NTQsLTMuNmUtNCB6IgogICAgICAgICBpZD0icGF0aDQ3NzkiCiAgICAgICAgIHN0eWxlPSJmaWxsOiNmZmZmZmY7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmUiIC8+CiAgICA8L2c+CiAgPC9nPgo8L3N2Zz4K)
    background-image: linear-gradient(transparent,transparent),url(//bits.wikimedia.org/static-1.23wmf16/skins/vector/images/external-link-ltr-icon.svg?2014-02-27T16:51:40Z)!ie;
    padding-right: 13px;
  }
}
body{
  margin: auto;
  background-color: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  width: 620px;
  box-sizing: border-box;
}
loading-dialog svg rect{
  fill: rgba(0, 0, 0, 0.2);
}
loading-dialog svg text{
  text-anchor: middle;
  font-size: 14px;
  fill: rgba(0, 0, 0, 0.5);
}
loading-dialog{
  top: 30%;
  left: 50%;
  position: absolute;
}
water-map{
  width: 620px;
  height: 620px;
  display: block;
  overflow: hidden;
}
water-map .landmarks{
  fill: rgba(0, 0, 0, 0.5);
}
water-map .landmarks text{
  font-size: 10px;
}
water-map .reservoirs .label text.fg{
  font-weight: bold;
  fill: black;
}
water-map .reservoirs .label text.bg{
  font-weight: bold;
  fill: rgba(255, 255, 255, 0.7);
}
water-map .reservoir .percent{
  opacity: 0;
  text-anchor: middle;
  -webkit-transition: all .25s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all .25s ease-out;  /* Firefox 4-15 */
       -o-transition: all .25s ease-out;  /* Opera 10.50–12.00 */
          transition: all .25s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
water-map .reservoir .label{
  pointer-events: none;
}
water-map .reservoir.selected:hover .percent{
  opacity: 1;
}
water-map .click-region{
  cursor: pointer;
}
water-map .geography path.counties{
  fill: white;
  stroke: #eee;
  stroke-width: 1;
  shape-rendering: crispEndges;
}
water-map .reservoirs{
  cursor: pointer;
}
water-map circle.capacity{
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 1;
  opacity: 1;
  fill: rgba(0, 0, 0, 0.1);
}
water-map circle.level{
  /*fill: #3498db;*/
  fill: blue;
  pointer-events: none;
}
water-map circle.capacity{
  opacity: 0.5;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}
/*      water-map circle.capacity:hover{
  opacity: 1;
}*/
input[type="range"]{
  width: 100%;
}
.map-container{
  /*border: 1px solid rgba(255, 0, 0, 1);*/
  margin: auto;
  display: block;
  width: 620px;
  position: relative;
  box-sizing: border-box;
  -webkit-transition: all 1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 1s ease-out;  /* Firefox 4-15 */
       -o-transition: all 1s ease-out;  /* Opera 10.50–12.00 */
          transition: all 1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.detail{
  position: absolute;
  width: 400px;
  top: 120px;
  right: -50px;
}
.detail .title, .detail .project{
  text-align: left;
  padding-left: 60px;
  font-size: 20px;
  margin: 0;
}
.detail .project{
  font-size: 12px;
}
.detail p{
  text-align: left;
  padding-left: 60px;
  margin: 0;
  font-size: 12px;
}
reservoir-detail{
  width: 400px;
  height: 200px;
  display: block;
  /*border: 1px solid red;*/
  box-sizing: border-box;
  /*background-color: white;*/
}
reservoir-detail .axis-y-label{
  text-anchor: middle;
  fill: rgba(0, 0, 0, 1);
  font-size: 10px;
}
reservoir-detail .years line{
  shape-rendering: crispEdges;
}
reservoir-detail .years{
  font-size: 14px;
}
reservoir-detail .axis-x, reservoir-detail .axis-y{
  font-size: 8px;
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
reservoir-detail .axis-x path, reservoir-detail .axis-y path{
  stroke: none;
}
reservoir-detail .axis-x text, reservoir-detail .axis-y text{
  fill: black;
  stroke: none;
}
reservoir-detail path, reservoir-detail line{
  stroke: rgba(0, 0, 0, 0.05);
}
reservoir-detail rect{
  fill: blue;
  opacity: 0.8;
}
reservoir-detail .year path{
  fill: none;
  stroke-width: 2;
}
reservoir-detail .nob{
  shape-rendering: geometricPrecision;
  stroke: #888;
  fill: white;
}
scale-slider{
  width: 100%;
  height: 40px;
  display: block;
  shape-rendering: crispEdges;
  -webkit-user-select: none;
  user-select: none;
}
scale-slider svg{
  display: block;
  stroke: black;
  cursor: pointer;
}
scale-slider text{
  font-size: 10px;
  stroke: none;
}
scale-slider path{
  fill: none;
}
scale-slider path, scale-slider line{
  stroke: rgba(0, 0, 0, 0.2);
}
scale-slider circle.nob{
  shape-rendering: geometricPrecision;
  stroke: #888;
  fill: white;
  cursor: pointer;
}
scale-slider circle.shadow{
  opacity: 0.1;
}
div.play-btn{
  border: 1px solid #aaa;
  background-color: white;
  color: #777;
  font-weight: 100;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  /*font-size: 10px;*/
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  -webkit-user-select: none;
}
water-map{
  position: relative;
}
water-map path.callout{
  stroke: rgba(0, 0, 0, 0.4);
  stroke-width: 2;
}
water-map .reservoirs .reservoir *{
  vector-effect: non-scaling-stroke;
}
water-map .reservoirs .reservoir.hover .level{
  opacity: 0.4;
}
water-map .fill-map{
  position: absolute;
  top: 0px;
  left: 0px;
}
span.acre-feet{
  opacity: 0.5;
}