<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title></title>
    <link href="style.css" rel="stylesheet">
    <script src="js/main.min.js" charset="utf-8"></script>
  </head>
  <body ng-app="myApp" ng-controller="MainCtrl" ng-clock>
    <loading-dialog ng-show="!loaded"></loading-dialog>
    <div class="map-container" ng-style="{opacity: loaded ? 1 : 0 }">
      <p>
        <div class="play-btn" ng-model="playing" ng-click="playing = !playing">
          {{ playing ? 'pause' : 'play' }}
        </div>
        {{ year }} - {{ months[month] }}
      </p>
      <scale-slider domain="domain" now="sliderPosition"></scale-slider>
      <water-map
        reservoirs="reservoirs"
        history="history"
        now="now"
        selected-reservoir="reservoir"
        shapefile="shapefile">
      </water-map>
      <div class="detail">
        <h1 class="title"> {{reservoir.station}}</h1>
        <p>
          storage: {{formatCapacity(history[now].reservoirs[reservoir.id])}}
          <span class="acre-feet">acre-feet</span><br>
          capacity: {{formatCapacity(reservoir.capacity)}}
          <span class="acre-feet">acre-feet</span>
        </p>
        <reservoir-detail reservoir="reservoir" year="year" month="month">
        </reservoir-detail>
      </div>
    </div>
  </body>
  <!--
  <script src="js/d3.js" charset="utf-8"></script>
  <script src="js/angular.js" charset="utf-8"></script>
  <script src="js/topojson.v1.js" charset="utf-8"></script>
  <script src="js/main.js"></script>
  <script src="js/directives/bar-chart.js"></script>
  <script src="js/directives/water-map.js"></script>
  <script src="js/directives/loading-dialog.js"></script>
  <script src="js/directives/reservoir-detail.js"></script>
  <script src="js/directives/scale-slider.js"></script>
  -->
</html>