<!DOCTYPE html>
<html>
  <!-- for the entire project code, checkout: http://github.com/vicapow/water-supply -->
  <head>
    <script src="js/main.min.js?t=1395793874048" charset="utf-8"></script>
    <!--
    <script src="js/angular.js" charset="utf-8"></script>
    <script src="js/d3.js" charset="utf-8"></script>
    <script src="js/topojson.v1.js" charset="utf-8"></script>
    <script src="js/main.js"></script>
    <script src="js/directives/bar-chart.js"></script>
    <script src="js/directives/water-map.js"></script>
    <script src="js/directives/loading-dialog.js"></script>
    <script src="js/directives/reservoir-detail.js"></script>
    <script src="js/directives/scale-slider.js"></script>
    -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>Into the Drought: California's Shrinking Reservoirs</title>
    <link href="css/style.min.css?t=1395793874048" rel="stylesheet">
  </head>
  <body ng-app="myApp" ng-controller="MainCtrl" ng-clock>
    <loading-dialog ng-show="!loaded"></loading-dialog>
    <div class="map-container" ng-style="{opacity: loaded ? 1 : 0 }">
      <p>
        <div class="play-btn" ng-model="playing" ng-click="playButtonClicked()">
          {{ playing ? 'pause' : 'play' }}
        </div>
        {{ year }} - {{ months[month] }}
        <small style="float:right">Data is current as of March 17th, 2014</small>
      </p>
      <scale-slider domain="domain" now="sliderPosition"></scale-slider>
      <div class="detail">
        <h1 class="title"> {{reservoir.station}}</h1>
        <h5 class="project">{{reservoir.project}}</h5>
        <p>
          Storage: {{formatCapacity(history[now].reservoirs[reservoir.id])}}
          <span class="acre-feet">acre-feet</span><br>
          Capacity: {{formatCapacity(reservoir.capacity)}}
          <span class="acre-feet">acre-feet</span><br>
          Water Source: {{reservoir.stream}}
        </p>
        <reservoir-detail reservoir="reservoir" year="year" month="month">
        </reservoir-detail>
        <span ng-hide="atHome" class="produced-by">Produced by KQED's <a target="_parent" href="http://blogs.kqed.org/lowdown/">The Lowdown</a></span>
      </div>
      <water-map
        reservoirs="reservoirs"
        history="history"
        now="now"
        selected-reservoir="reservoir"
        shapefile="shapefile">
      </water-map>
    </div>
  </body>
  <!-- google analytics tracking code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-11200159-17', 'vicapow.github.io');
    ga('send', 'pageview');
  </script>
</html>